/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
body {
	background-color: white;	
}

h1 {								/*used in nav bar*/
	margin: 0px;
	padding: 30px;
	font-family:'Lato',Verdana,Helvetica,Arial,sans-serif;
	font-size: 28pt;
	color: #3f51b5;
	margin-left: 0;
    padding-left: 0;

}

.lead-in {
    color: #3f51b5;
    font-family:'Muli',Verdana,Helvetica,Arial,sans-serif;
    font-size: 14pt;
    font-weight: bold;
}

h2{								/*Individual Page headings*/
	color: #3f51b5;
	font-family:'Muli',Verdana,Helvetica,Arial,sans-serif;
	font-weight: 400;
}

p{
    color: #A79787;
    font-family:'Muli',Verdana,Helvetica,Arial,sans-serif;
    font-size: 14pt;        
}

#container{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 5%;
}

/* NavBar Styling */
.cssmenu ul {
	list-style-type:none;
  width:80%;
	height:25px;
	font-size:14pt;
	font-family:'Muli',Verdana,Helvetica,Arial,sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.cssmenu li {
	display:block;
	float:left;
	margin:0;
	padding:0;
}

.cssmenu li a {
	float:left;
	color:#A79787;
	text-decoration:none;
	height:24px;
	padding:0px 14px 0;
	font-weight:normal;
}

.cssmenu li a:hover,.current {
	color:#9c27b0;
	background: none;
	text-decoration:none;
}

.cssmenu .current a {
	font-weight:700;
}

/*Footer*/

#footer {
    font-size:10pt;
	font-family:'Muli',Verdana,Helvetica,Arial,sans-serif;
	color: #A79787;
	margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 60%;
}

/*Links*/
a {
    color: #00bcd4;
    text-decoration:underline;
}

a:hover {
    text-decoration:underline;
    color:#9c27b0;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

    font-family:'Balthazar',Verdana,Helvetica,Arial,sans-serif;
	font-size: 28pt;
	color: #ffffff;
  
}

.title a {
    font-family:'Balthazar',Verdana,Helvetica,Arial,sans-serif;
	font-size: 28pt;
	color: #ffffff;
}

.title a:hover {
    font-family:'Balthazar',Verdana,Helvetica,Arial,sans-serif;
    text-decoration:none;
    color:#692664;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #ffffff;
  font-family:'Muli',Verdana,Helvetica,Arial,sans-serif;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
