/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-color: white;
}
.footer {
  position: absolute;
  padding: 10px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#cyanBody{
    background-image: url('../Ctexture.png');    
}

#magentaBody{
    background-image: url('../Mtexture.png');
}

h1{
  font-family: 'Coda', cursive;
  color: white;
}

.mainContent{
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 0px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

img{
  margin: 15px;
}

code {
  font-size: 80%;
}