/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
  padding-top: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #514470;
  padding-top:15px;
}


/* Custom styles
-------------------------------------------------- */

#content-container {
  width: 75%;
}

.mainContent{
  margin-top: 5%;
}