/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
  padding-top: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #514470;
  padding-top:15px;
}

.footer a{
  color:#EFF3CD;
}


/* Custom styles
-------------------------------------------------- */

#content-container {
  width: 70%;
}

.mainContent{
  margin-top: 5%;
}

.socialIcons{
  text-align: center;
  margin: 1%;
}

.icons{
  margin:2%;
}
